<div class="row">
  <div class="twelve columns">
    <h3>Sobre</h3>
    <p>
      Voc&ecirc; gostaria de viajar mas n&atilde;o sabe quanto vai custar?<br/>
      <br/>
      Com o "custo de viagem" podemos calcular quanto vai gastar com passagens, hospedagem e at&eacute; mesmo alimenta&c&ccedil;&atilde;o.
      Basta escolher a origem e o destino do passeio, o per&iacute;odo que vai ser realizado, e n&oacute;s fazemos o resto para voc&ecirc;.
    </p>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <br/>
    <h3>Destinos mais procurados</h3>
  </div>
</div>

<div class="row">
  <div class="four columns">
    <ul>
    <%- c = 1; -%>
    <%- @top.each do |trip| -%>
      <%- if c == 5 -%>
      <%- c = 1 -%>
        </ul>
      </div>
      <div class="four columns">
        <ul>
      <%- end -%>
      <li><%= Airport.value_for(trip.origin) %> &gt; <%= Airport.value_for(trip.destination) %></li>
      <%- c += 1 -%>
    <%- end -%>
    </ul>
  </div>
</div>