<div class="row">
	<div class="twelve columns">
		<h3>Sobre</h3>
		<p>
			Voc&ecirc; gostaria de viajar mas n&atilde;o sabe quanto vai custar?<br/>
			<br/>
			Com o "custo de viagem" podemos calcular quanto vai gastar com passagens, hospedagem e at&eacute; mesmo alimenta&c&ccedil;&atilde;o. 
			Basta escolher a origem e o destino do passeio, o per&iacute;odo que vai ser realizado, e n&oacute;s fazemos o resto para voc&ecirc;.
		</p>
	</div>
</div>

<div class="row">
	<div class="twelve columns">
		<br/>
		<h3>Destinos mais procurados</h3>
	</div>
</div>
			
<div class="row">
	<div class="four columns">
		<ul>
			<li>Fortaleza > Juazeiro do Norte</li>
			<li>Fortaleza > Recife</li>
			<li>Belo Horizonte > Bahia</li>
			<li>Rio de Janeiro > Natal</li>
			<li>Fortaleza > Curitiba</li>
			<li>S&atilde;o Paulo > Rio de Janeiro</li>
		</ul>
	</div>
	<div class="four columns">
		<ul>
			<li>S&atilde;o Paulo > Rio de Janeiro</li>
			<li>Rio de Janeiro > Natal</li>
			<li>Fortaleza > Juazeiro do Norte</li>
			<li>Belo Horizonte > Bahia</li>
			<li>Fortaleza > Curitiba</li>
			<li>Fortaleza > Recife</li>
		</ul>
	</div>
	<div class="four columns">
		<ul>
			<li>Fortaleza > Juazeiro do Norte</li>
			<li>Fortaleza > Recife</li>
			<li>Belo Horizonte > Bahia</li>
			<li>Rio de Janeiro > Natal</li>
			<li>Fortaleza > Curitiba</li>
			<li>S&atilde;o Paulo > Rio de Janeiro</li>
		</ul>
	</div>
</div>